.main__nav {
    width: 244px;
    background-color: #181818;
    padding: 20px 0 20px 36px;
  }
  
  .main__centerblock {
    width: auto;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    padding: 20px 40px 20px 111px;
  }
  
  .main__sidebar {
    max-width: 418px;
    padding: 20px 90px 20px 78px;
  }
  
  .nav__logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
  }
  
  .nav__burger {
    width: 20px;
    height: 36px;
    padding: 13px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .nav__menu {
    display: block;
    visibility: visible;
  }
  
  .hiddenNavMenu {
    display: none;
   }